@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.widgetContainer {
    min-width: 320px;

    p {
        margin: 0;
    }

    button {
        margin: 0;
    }

    & * {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
    }

    .panel {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .panelBody {
        padding: 32px 50px 24px 50px;
        background: #f8f8f7;
    }

    .titleText {
        font-size: 20px;
        line-height: 27px;
        color: #050038;
        margin-bottom: 24px;
    }

    .boldText {
        font-weight: bold;
    }

    .emailsContainer {
        background: #ffffff;
        border: 1px solid #c3c2cf;
        border-radius: 4px;
        padding: 4px 0 8px 8px;
        max-height: 100px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }

    .emailInput {
        height: 24px;
        border: 0;
        margin: 4px 8px 0 0;
        padding: 0;
        outline: none;
        font-size: 14px;

        &::placeholder {
            color: #c3c2cf;
        }

        &:focus::placeholder {
            color: transparent;
        }

        &::-ms-clear {
            display: none;
        }
    }

    .emailBlock {
        position: relative;
        display: flex;
        font-size: 14px;
        line-height: 24px;
        background: rgba(102, 153, 255, 0.2);
        padding-left: 10px;
        border-radius: 100px;
        margin: 4px 8px 0 0;
        white-space: nowrap;
        max-width: calc(100% - 16px);

        &.emailBlockInvalid {
            background: none;
            padding-left: 0;
            border-radius: 0;
            line-height: 23px;
            border-bottom: 1px dashed #d92929;
            max-width: calc(100% - 8px);

            .emailBlockDeleteButton {
                padding-right: 0;
            }

            .emailBlockText {
                max-width: calc(100% - 12px); // full emailBlockDeleteButton width
            }
        }
    }

    .emailBlockText {
        overflow: hidden;
        max-width: calc(100% - 20px); // full emailBlockDeleteButton width
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .emailBlockDeleteButton {
        background: none;
        border: 0;
        height: 100%;
        padding: 0 8px 0 8px;
        cursor: pointer;
    }

    .panelFooter {
        padding: 24px 50px 32px 50px;
    }

    .actionButton {
        background: #4262ff;
        border-radius: 6px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        padding: 8px 16px;
        cursor: pointer;
        border: 0;
    }

    .actionButton:hover {
        background: #2f46b7;
    }

    .actionButton + .actionButton {
        margin-left: 16px;
    }

    @media only screen and (max-width: 380px) {
        .actionButton {
            display: block;
            margin: 0 auto;
        }

        .actionButton + .actionButton {
            margin: 8px auto 0;
        }
    }

    // emulate browser native outline styles
    .unrealFocus {
        outline-width: 2px;
        outline-style: solid;
        outline-color: Highlight;
    }

    @media (-webkit-min-device-pixel-ratio: 0) {
        .unrealFocus {
            outline-color: -webkit-focus-ring-color;
            outline-style: auto;
        }
    }
}
